/*Complete y comente el código de este archivo*/

* {
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    padding: 1em;
}

header h1 {
    text-align: center;
}

nav {
    background-color: lightgreen;
}

nav li {
    padding: 1em;
}

nav ul {
    list-style: none;
}

nav a {
    padding: 1em;
}

nav a:hover, nav a:focus {
    background-color: seagreen;
}

h2 {
    margin-bottom: 1em;
}

h3 {
    
}

figure {
    width: 40%;
    float: left;
    margin-right: 1em;
}

figure img {
    width: 100%;
}

p {
    
}

footer {
    text-align: center;
}

footer img {
    width: 5em;
}

main, aside {
    display: inline-block;
}

main {
    padding-top: 2em;
    width: 75%;
}

aside {
    vertical-align: top;
    width: 24%;
    text-align: center;
    padding-top: 2em;
}

aside h2 {
    margin-bottom: 1.5em;
}

aside img {
    width: 15em;
}
